@font-face {
  font-family: FuturaGreek;
  src: local('FuturaGreek-Medium'),
  url('/Fonts/FuturaGreek-Medium.woff2') format('woff2');
}

@font-face {
  font-family: FuturaGreek-Light;
  src: local('FuturaGreek-Light'),
  url('/Fonts/FuturaGreek-Light.woff2') format('woff2');
}

@font-face {
  font-family: FuturaGreek-SemiBold;
  src: local('FuturaGreek-SemiBold'),
  url('/Fonts/FuturaGreek-SemiBOld.woff2') format('woff2');
}
